// Base Colors
$PrimaryColor:#fff;
$SecondaryColor:#21333A; 
$TertiaryColor:#69D1CA; 
$Quaternary:#000; 



// Type Colors
$PrimaryHColor:$SecondaryColor;
$SecondaryHColor:$Quaternary;
$TertiaryHColor:$PrimaryColor; 

$PrimaryPColor:$SecondaryColor;
$SecondaryPColor:$Quaternary;
$TertiaryPColor:$PrimaryColor; 