
 // Typography


 $FontFamilyHeader:"TS3 Text Sans";
 $FontFamilyHeaderBold:"TS3 Text Sans";
 $FontFamilyBody:"TS3 Text Sans";
  
$FontLargeSize:2.8em;
$FontLargeLine:1em;
$FontLargeWeight:100;

$FontMedSize:1.3em;
$FontMedLine:1.1em;
$FontMedWeight:100;

$FontSmallSize:1.15em;
$FontSmallLine:1.5em; 
$FontSmallWeight:100; 